import sys # standard lib
import requests # pip install requests
import datetime # standard lib
import json # standard lib
import re # standard lib
import copy # standard lib
from bs4 import BeautifulSoup # pip install beautifulsoup4